<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scotty.games.missionmission"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Request use of the camera, but don't require autofocus. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
    <application 
        android:icon="@drawable/icon" android:label="@string/app_name">
        
        <uses-library android:name="com.google.android.maps" />
                    
        <!-- Declare the GPS activity. -->
        <activity 
            android:name=".MissionMission"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare the camera activity. -->
        <activity 
            android:name=".CameraPreview">
        </activity>
        
    </application>


</manifest> 